<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "profile.jpeg"%>
  </div>

  <div id="content">
    <h1>It's Mr. Stick Figure</h1>
    <p>いいえ。このコースは時代遅れではありません。多分いくつかの宝石。しかし全体として、それはまだ非常に有益です。あなたはそれを作成するのに時間をかけました。私はコーディングに成功し、多くのことを学び、8つのアプリのうち6つをデプロイしました。Rails 6.0.1とruby 2.6を使用しました。真面目な学生なら誰でも、チュートリアルに従って、フレームワークや宝石を更新し、最新の使用方法について読むことができます。このコースを受講して初めて、レールが明確にわかりました。私にとって、これは地球上で最高のRailsコースです。もっとコースを作ってほしい。あなたは素晴らしい先生です。以下に、私がデプロイしたアプリへのリンクを示します。</p>
  </div>



</div>